doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Index
    style !{compilation.assets['dist/index.min.css'].source()}
  body
    h1 Hello World !
    .viewer
      .viewer-background
      .viewer-content
        .viewer-container(style="background: rgba(255, 0, 0, 0.4)") -1
        .viewer-container(style="background: rgba(0, 255, 0, 0.4);") 0
        .viewer-container(style="background: rgba(0, 0, 255, 0.4)") 1
    script(type="text/javascript") !{compilation.assets['dist/index.min.js'].source()}
